.input {
  border: 1px solid #ffd700;
  border-radius: 5px;
  padding: 10px;
  margin: 5px;
  width: calc(100% - 30px);
  transition: background-color 0.3s, color 0.3s, border-color 0.3s;
}

.search-btn {
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}

.input.light {
  background-color: rgba(0, 0, 0, 0.1);
  color: #333;
  border-color: #333;
}

.search-btn.light {
  background-color: #333;
  color: #ffd700;
}

.input.dark {
  background-color: rgba(255, 255, 255, 0.1);
  color: #ffd700;
  border-color: #ffd700;
}

.search-btn.dark {
  background-color: #ffd700;
  color: #333;
}